.hero {
min-height: 100vh;
 
display: flex;
flex-direction: column;
 
justify-content: center;
align-items: center;
 
text-align: center;
}
 
.buttons {
margin-top: 30px;
 
display: flex;
 
gap: 20px;
}
 
.buttons button {
 
background-color: #38bdf8;
 
color: white;
 
border: none;
 
padding: 15px 30px;
 
border-radius: 8px;
 
cursor: pointer;
 
font-size: 16px;
 
transition: 0.3s;
}
 
.buttons button:hover {
 
background-color: #0ea5e9;
 
transform: translateY(-3px);
}
